/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --border-section: 56px 56px 0 0;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(74, 45, 38);
  --first-color-alt: rgb(43, 23, 18);
  --first-color-light: rgb(101, 70, 62);
  --second-color: rgb(221, 182, 110);
  --title-color: rgb(46, 38, 36);
  --text-color: rgb(91, 76, 72);
  --text-color-light: rgb(132, 117, 113);
  --white-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Pacifico", cursive;
  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4.5rem 3.5rem;
}

.section__title {
  color: var(--title-color);
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:var(--z-fixed);
  background-color: var(--first-color);
  transition: background-color 0.4s,box-shadow 0.3s;
  
}
.header-border{
  width:100%;
  height:2px;
  background-image: linear-gradient(90deg,
             var(--text-color-light) 50% ,
             transparent 50%);
  background-size: 24px;
  position: absolute;
  bottom:-5px;
  left:0;
  transition: opacity 0.3s;
}
.nav{
  position:relative;
display:flex;
align-items: center;
justify-content: space-between;
height: var(--header-height);
}
.nav-logo{
  display: flex;
  align-items: center;
  color:var(--white-color);
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
}
.nav-logo img{
  width:20px;
}
/* Navigation for mobile devices */
@media(max-width:1024px){
  .nav-menu{
    position:fixed;
    bottom:0;
    width:90%;
    border-radius:56px 56px 0 0;
    padding: 30px;
    background: 
    linear-gradient(180deg,
    var(--first-color) 0%,
    var(--first-color-alt )100%);
   
  }
}
.nav-list{
  display: flex;
  justify-content: space-between;


}
.nav-list .nav-item .nav-link{

display: block;
margin:0 20px;

}
.nav-link{
  color:#fff;
  font-family: var(--second-font);
  font-size: 10px;
}
.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 4px;
  transition: color 0.3s;
}
/* Change background header */
.change-header{
  background-color: rgb(157 116 85);

}

 /* .header.header-border{
  opacity: 0;
} */



/* Active link */


/*=============== HOME ===============*/
.home{
  background: linear-gradient(
    180deg,
    var(--first-color) 0%,
    var(--first-color-alt) 100%
  );
}

.home-container{
  padding-top: 2rem;
  row-gap: 4rem;
  margin:0 auto;
}
.home-data{
  text-align: center;
}
.home-Subtitle{
  font-size: var(--normal-font-size);
  color:var(--second-color);
  font-weight:var(--font-medium);
  margin-top: 100px 30px;
}
.home-title{
  font-family: var(--second-font);
  color:#fff;
  font-size: var(--biggest-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 30px;
}
.home-title img{
  width: 80px;
  position:absolute;
  top:200px;
  right:5px;
}
.home-desc{
  margin-bottom: 20px;
  color:#fff;
  padding:0 20px;
}
.button{
background-color: var(--second-color);
color:var(--first-color-alt);
border-radius: 20px;
padding:20px 30px;
display:inline-flex;
column-gap: 10px;
font-size: 16px;
box-shadow: 10px 20px 30px 0px var(--first-color-light);
font-weight: var(--font-medium);
}
.button:hover{

  box-shadow: 10px 20px 30px 0px var(--first-color-light);

}
.button i{
  font-size: 25px;
  transition: transform 0.3s;
}

.left-content img{
  width:400px;
  justify-self: center;
}
/*=============== BUTTON ===============*/


/*=============== PRODUCTS ===============*/
.products{
  background-color: var(--first-color);
}
.products_bg{
  background-color: var(--first-color);
  border-radius: var(--border-section);
  padding:40px 20px;
}
.product-container{
  row-gap: 3.5rem;
}
.product-button{
  display:inline-flex;
  background-color: var(--first-color-alt);
  padding:1rem 1.5rem;
  border-radius: 4rem;
  margin-bottom: 10px;
  column-gap: 0.5rem;
  cursor: pointer;
  color:var(--second-color);
}
.product-button:hover{
  transform: translateY(0.35rem);
  box-shadow: 0px 8px 10px var(--second-color);
}
.product-button i{
  font-size: 1.5rem;

}
.products-description{
  margin:30px 0px;
  text-align: center;
  line-height: 25px;
  color:#fff;
}
.product-content{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap:2rem 3rem;
}
@media(max-width:767px){
  .product-content{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    gap:2rem 3rem;
  }

  
}
.product-img{
  max-width:250px;
  width:100%;
  margin-bottom: 1.5rem;
  transition: transform 0.4s;
}
.product-img:hover{
  transform: translateY(-1.5rem);
  filter: blur(1px);
}
.product-name{
  margin-bottom: 5px;
}
.product-name,
.product-price{
  color:#fff;
  font-family: var(--second-font);
font-weight: var(--font-regular);
font-size: var(--h2-font-size);


}
/*=============== ABOUT =/==============*/
.about{
  background-color: var(--first-color);
}
.about-bg{
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
  border-radius: var(--border-section);
}
.about-heading{
  font-family: var(--second-font);
  font-size: 30px;
  margin-bottom: 20px;
}
.about-container{
  display: grid;
  row-gap: 2rem;
}
.about-para{
width: 350px;
}
.about .left-content img{
  width:300px;
  border-radius: 1rem;
  justify-self: center;

}
/*=============== STEPS ===============*/
.steps{

  background-color: var(--white);
}
.steps-title{
  text-align: center;

}
.steps__bg{
  
  padding:30px;
  background-color: var(--first-color);
  border-radius:var(--border-section);
}
.steps-title{
  font-family:var(--second-font);
  color:#fff;
}
.steps-container{
  position:relative;
  padding-top:3rem ;
}

.steps-content{
  
display: grid;
justify-content: center;
text-align: center;

}
.steps-card{
  width:250px;
  z-index:10;
}
.steps-circle{
  width:150px;
  height:150px;
  background-color:var(--first-color-light);
  border-radius: 50%;
  margin-bottom: 10px;
  position:relative;
}
.step-subcircle{
  color:#fff;
  width:50px;
  height:50px;
  position:absolute;
  top:-0.5rem;
  left:0;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size:var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color:var(--first-color);
  outline:10px solid var(--first-color);
}
.steps-description{
  margin-bottom: 20px;
  color:#fff;
}
.steps-circle{
  position:relative;
  
}
.steps-circle img{
  position:absolute;
  top:10px;
  left:10px;
  padding:20px;
  max-width:200px;
  width:100%;
  margin:0 auto;
  text-align: center;
  margin-top: 10px;
}

.steps-card:hover .steps-circle{
  transform: translateY(-0.4rem);

}
.steps-card-move,
.steps-card-move .steps-circle{
  margin-left:auto;
}
.steps-card-move .steps-description{
  text-align: right;
  position:relative;
  z-index:2000;
}
 .steps-border{
  position:absolute;
  left:100px;
  right:0;
} 
.steps-beans img{
  position:absolute;
  top:80px;


  width:100%;
  height:70%;
  object-fit: cover;




}
/*=============== TESTIMONIAL ===============*/

.testimonial{
  background-color: var(--first-color);
}
.testimonials__bg{
background-color:#fff;
border-radius:var(--border-section);
padding:30px;
}
.testimonial-data{
  text-align: center;
}
.section-title{
  font-family:var(--second-font);
  font-size:20px;
  font-weight:var(--font-medium);
  margin-bottom: 30px;
}
.test-image img{
  margin-top:30px;
  width:100%;
  max-width:350px;
  border-radius: 20px;
}
.testimonial-name{
  margin-bottom:30px;
  margin-top: 20px;
}
/*=============== FOOTER ===============*/
.footer{
  background-color: var(--white-color);
}
.footer-bg{
background-color: var(--first-color-alt);
border-radius: var(--border-section);
}
.footer-container{
  padding-block:4rem 7rem;
  row-gap:4.5rem;
}
.footer-data{
  text-align: center;
  row-gap:4.5rem;
}
.footer-logo,
.footer-title,
.footer-description,
.footer-input{
  color:#fff;
}
.footer-button{
  background-color: var(--second-color);
color:var(--first-color-alt);
border-radius: 20px;
padding:10px;
display:flex;
margin:0 auto;
margin-bottom:20px;
cursor: pointer;
margin-top: 30px;
column-gap: 10px;
font-size: 18px;
box-shadow: 10px 20px 30px 0px var(--first-color-light);
font-weight: bold;
}
.footer-input{
  border:none;
  outline:none;
  padding:20px;
  width:60%;
  border-radius: 30px;
  color:#fff;
  background: transparent;
  border: 1px solid var(--text-color-light);

}
.footer-description{
  margin:30px 0;
}

/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
@media (min-width:767px) {
  .home-container{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
  }
  .product-container{
  grid-template-columns: 418px 535px;
  align-items: center;
  }
  .about-container{
    display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
gap:10px;
padding:50px;
}
.testimonial-data{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
gap:10px;
padding:50px;
}
.testimonial-title{
  margin-top: 40px;
}
.testimonial-name{
  margin-top: 20px;
  color:#fff;
  padding:20px;
  background-color:var(--first-color);
  border-radius:20px;
}
.about-heading,
.about-para{
  text-align:left ;
}
.steps{
  position:relative;
}
.steps-container img{
  position:absolute;
}
}